<div class="mb-4">
  <h2 class="text-success">
    Iniciar sesión
  </h2>
  <div>¿No tienes una cuenta?
    <a routerLink="/signup" class="text-decoration-none fw-medium text-success d-inlin-block">Regístrate</a>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Correo electrónico" formControlName="email">
    <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.controls.email.hasError('required')">
      Por favor ingresa tu correo electrónico.
    </div>
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Contraseña" formControlName="password">
    <div class="error-feedback" *ngIf="hasDisplayableError('password') && form.controls.password.hasError('required')">
      Por favor ingresa tu contraseña.
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Iniciar sesión
    </button>
  </div>
</form>