<div class="container mx-auto">
  <div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-4xl lg:w-10/12 xl:w-8/12">
      <div class="flex bg-crema rounded-3xl shadow-lg" style="min-height:450px;">
        <div class="hidden md:flex flex-col items-center justify-center w-5/12 p-5 text-white bg-blue-ucb rounded-l-3xl">
          <div class="text-center">
            <img src="authec-logo.png" class="w-1/2 mx-auto mb-3">
            <h2 class="text-3xl font-bold">Portal de Usuario</h2>
          </div>
        </div>
        <div class="flex items-center justify-center w-full p-5 md:w-7/12">
          <div class="w-full">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>