@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Inter", sans-serif;
}

/* form validation */
.error-feedback {
  font-size: 0.9rem;
  color: crimson;
  margin: 0.3rem !important;
  margin-top: 0.1rem !important;
}

#main {
  margin-left: 240px;
}

/* side bar */
#sidebar {
  width: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.btn-yellow {
  background-color: #FFD400;
  color           : #004AAD;
  border          : 2px solid transparent;
  transition      : all 0.3s ease;
}

.btn-yellow:hover {
  color           : #004AAD;         /* Letras se vuelven azul UCB */
  border-color    : #004AAD;         /* Solo el borde se vuelve azul UCB */
  background-color: #FFD400;
}


.ucb-blue {
  background-color: #004AAD;
  color           : white;
  /* blanco para contraste */
}

.text-blue-ucb {
  color: #004AAD !important;
}

.bg-crema {
  background-color: #FFF8E1 !important;
}

#sidebar li.nav-item a {
  color: #637381;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
}

#sidebar li.nav-item:hover {
  background-color: #007fff17;
  border-radius: 0.5rem;
}

html, body {
  scrollbar-width: thin;
  scrollbar-color: #003366 #ffe066;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 8px;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #003366;
  border-radius: 8px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: #ffe066;
  border-radius: 8px;
}