<div class="mb-4">
  <h2 class="text-success">
    Registrarse
  </h2>
  <div>¿Ya tienes una cuenta?
    <a routerLink="/signin" class="text-decoration-none fw-medium text-success d-inlin-block">Inicia sesión</a>
  </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Nombre completo" formControlName="fullName">
    <div class="error-feedback" *ngIf="hasDisplayableError('fullName') && form.controls.fullName.hasError('required')">
      Por favor ingresa tu nombre completo.
    </div>
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Correo electrónico" formControlName="email">
    <div class="error-feedback" *ngIf="hasDisplayableError('email')">
      <div *ngIf="form.controls.email.hasError('required')">
        Por favor ingresa tu correo electrónico.
      </div>
      <div *ngIf="form.controls.email.hasError('email')">
        Por favor ingresa un correo electrónico válido.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Contraseña" formControlName="password">
    <div class="error-feedback" *ngIf="hasDisplayableError('password')">
      <ng-container [ngSwitch]="form.controls.password.errors | firstKey">
        <div *ngSwitchCase="'required'">
          Por favor ingresa tu contraseña.
        </div>
        <div *ngSwitchCase="'minlength'">
          Se requieren al menos 6 caracteres.
        </div>
        <div *ngSwitchCase="'pattern'">
          Se requiere al menos un carácter especial.
        </div>
      </ng-container>
      
    </div>
  </div>
  <div class="mb-3">
    <input class="form-control bg-body-secondary" placeholder="Confirmar contraseña" formControlName="confirmPassword">
    <div class="error-feedback" 
    *ngIf="hasDisplayableError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')">
      Las contraseñas no coinciden.
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">
      Registrarse
    </button>
  </div>
</form>